.PaletteSwapPanel select {
  margin: 0 0 20px;
  padding: 4px 8px;
}

.PaletteSwapPanel .table {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  flex-wrap: wrap;
}

.PaletteSwapPanel .table .row {
  text-align: center;
  border: 1px solid #cccccc;
  margin: 2px;
}

.PaletteSwapPanel .table .col {
  display: inline-block;
  padding: 5px;
}

.PaletteSwapPanel .swatch {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

.PaletteSwapPanel input[type=color] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}