.SpriteTool table {
  border-collapse: collapse;
}
.SpriteTool table td,th {
  border: 1px solid #ccc;
  padding: 10px;
}
.SpriteTool table table td,th {
  border: none;
  padding: 5px;
}
.SpriteTool .preview {
  text-align: center;
}
.SpriteTool .preview img {
  display: none;
}
.SpriteTool .spriteSheet img.hidden {
  display: none;
}
.SpriteTool .spriteSheet img.composite {
  display: inline;
}
